$('.availability li').removeClass('active');

<% if params[:type] == 'complete' %>
    if (Modernizr.history && pop) {
        history.pushState({type:'complete'}, 'Completed ideas', '/home/complete');
    }
    $('.availability li[data-type="complete"]').addClass('active');
<% elsif params[:type] == 'progress' %>
    if (Modernizr.history && pop) {
         history.pushState({type:'progress'}, 'Ideas in progress', '/home/progress');
    }
    $('.availability li[data-type="progress"]').addClass('active');
<% else %>
    if (Modernizr.history && pop) { 
        history.pushState({type:'available'}, 'Made by Ideas', '/');
    }
    $('.availability li[data-type="available"]').addClass('active');
<% end %>

pop = true

<% if params[:switch] %>
    $('.idea').remove();
<% end %>

$('.error').remove();

var topLocation = false;

<% if @posts.next_page %>
    if ($("#load_more").length==0) {
        $("#content .container").append('<p class="cta"><a href="/?page=<%=@posts.next_page%>&amp;type=<%= params[:type] %>" data-remote="true" id="load_more">Load more ideas&hellip;</a></p>');
    }
<% end %>

<% if @posts.count > 0 %>
    <% @posts.each do |post| %>
	
    	<% 
    	  @post = post
    	  @type = 'list'
    	%>
    	<% if params[:switch] %>
        	<% if @posts.next_page %>
        	    $("#load_more").parent().before( "<%= escape_javascript( render( :partial => "posts/idea" ) ) %>" );
        	<% else %>
        	    $("#content .container").append( "<%= escape_javascript( render( :partial => "posts/idea" ) ) %>" ); 
        	<% end %>
        <% else %>
            $("#load_more").parent().before( "<%= escape_javascript( render( :partial => "posts/idea" ) ) %>" );
            if(!topLocation) topLocation = $("#idea-<%= post.id %>").offset().top; 
        <% end %>

    <% end %>
<% else %>
    $("#filters").after("<p class='error'>Nothing to see here, move along&hellip;</p>");
<% end %>

foldArticles();
console.log(topLocation);
<% unless params[:switch] %>
    if(!scrolling) $('html:not(:animated),body:not(:animated)').animate({ scrollTop: topLocation-20 }, { duration:500 });
<% end %>

pageBottom = $(document).height()-$(window).height()-$('footer:last').outerHeight()-100;
scrolling = false;

<% if @posts.next_page %>
    $('#load_more').attr({href:"/?page=<%=@posts.next_page%>&amp;type=<%= params[:type] %>"});
<% else %>
    $('#load_more').parent().remove();
<% end %>
