$('#idea-<%= params[:id] %>').removeClass('open');
$('#idea-<%= params[:id] %>').removeClass('owned');
$('#idea-<%= params[:id] %>').addClass('<%= @post.status %>');

$('.idea').removeClass('current-work');

$('#claimed_id').remove();
<%
@claimed = Post.find_by_owner_id(current_user.id)
unless @claimed.nil?
%>
$('#home #filters').append('<p id="claimed_id">You are working on an <%= link_to('idea', "#{posts_path}/#{@claimed.id}") %> from <%= link_to @claimed.user.username, "#{posts_path}/user/#{@claimed.user.id}" %></p>');
<% end %>

<% if @post.status == 'owned' %>
$('#idea-<%= params[:id] %> .fulltext').addClass('discuss').removeClass('permalink');
$('#idea-<%= params[:id] %> .claim').removeClass('control');
  <% if @post.owner_id == current_user.id %>
  $('#idea-<%= params[:id] %>').addClass('current-work');
  $('#idea-<%= params[:id] %> .claim').show();
  $('#idea-<%= params[:id] %> .claim').html('You\'ve claimed this idea. You can <%= link_to "discuss it", "/posts/#{@post.id}" %> or <%= link_to "release it", "/posts/#{@post.id}/claim", :remote => "true" %> back to the crowd')
  <% else %>
  $('#idea-<%= params[:id] %> .claim').html('This idea has been claimed by <%= @owner.username %>')
  <% end %>

<% else %>

$('#idea-<%= params[:id] %> .claim').addClass('control');
$('#idea-<%= params[:id] %> .fulltext').removeClass('discuss').addClass('permalink');
$('#idea-<%= params[:id] %> .claim').addClass('control');
$('#idea-<%= params[:id] %> .claim').html('This idea is open, you can <%= link_to "discuss it", "/posts/#{@post.id}" %> or <%= link_to "claim it", "/posts/#{@post.id}/claim", :remote => "true" %> for yourself')

<% end %>

<% if params[:confirm] %>
toggleControls("<%= params[:controller] %>-<%= params[:action] %>-<%= params[:id] %>","",function(){
  targetPosition=$('#idea-<%= params[:id] %>').offset().top-10;
  $('html, body').animate({scrollTop:targetPosition}, 1000);
});

<% end %>

<% if !@post_claimed.nil? %>
$('#idea-<%= @post_claimed.id %>').removeClass('owned');
$('#idea-<%= @post_claimed.id %> .claim').addClass('control');
$('#idea-<%= @post_claimed.id %> .claim').html('This idea is open, you can <%= link_to "discuss it", "/posts/#{@post.id}" %> or <%= link_to "claim it", "/posts/#{@post_claimed.id}/claim", :remote => "true" %> for yourself')
<% end %>